/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.container{
  width: 40%;
  display: block;
  margin: 0 auto;
  font-size: 18px;
}
